<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>section0_0</key>
	<dict>
		<key>title</key>
		<string>关闭</string>
		<key>cellclass</key>
		<string>HBBaseTableViewCell</string>
		<key>selectionStyle</key>
		<true/>
		<key>sel_selector_str</key>
		<string>backtoparent:</string>
		<key>cellheight</key>
		<integer>40</integer>
	</dict>
	<key>section0_6</key>
	<dict>
		<key>title</key>
		<string>连接到正式服务器</string>
		<key>cellclass</key>
		<string>HBBaseTableViewCell</string>
		<key>detailfontsize</key>
		<integer>18</integer>
		<key>picture</key>
		<string></string>
		<key>detailtitle</key>
		<string></string>
		<key>sel_selector_str</key>
		<string>onActionChangeServer:</string>
		<key>selectionStyle</key>
		<true/>
		<key>cellheight</key>
		<integer>44</integer>
		<key>rightValue</key>
		<string></string>
		<key>CellStyleValue</key>
		<integer>1</integer>
		<key>showBottomLine</key>
		<true/>
		<key>showTopLine</key>
		<true/>
		<key>imageCornerRadius</key>
		<false/>
		<key>imageRight</key>
		<false/>
		<key>sectiontitle</key>
		<string>服务器切换(同时切换 HTTP/Service)</string>
		<key>sectionbgcolor</key>
		<string>darkGray</string>
		<key>sectioncolor</key>
		<string>white</string>
		<key>sectionheight</key>
		<integer>22</integer>
		<key>sectionfont</key>
		<integer>17</integer>
		<key>rightComponts</key>
		<string></string>
		<key>sectionHeaderView</key>
		<string></string>
		<key>titlecolor</key>
		<string></string>
		<key>dictionary</key>
		<dict>
			<key>appId</key>
			<string>1249193970</string>
			<key>udbServiceId</key>
			<integer>1249193970</integer>
			<key>appsecret</key>
			<string>e7f3c4df_67d8_</string>
			<key>connectToTestService</key>
			<false/>
		</dict>
		<key>xibvalue</key>
		<string></string>
		<key>attributeTitle</key>
		<string></string>
		<key>textAlignment</key>
		<string></string>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>section0_1</key>
	<dict>
		<key>title</key>
		<string>连接到测试服务器</string>
		<key>cellclass</key>
		<string>HBBaseTableViewCell</string>
		<key>detailfontsize</key>
		<integer>18</integer>
		<key>dictionary</key>
		<dict>
			<key>appId</key>
			<string>1170901840</string>
			<key>udbServiceId</key>
			<integer>1170901840</integer>
			<key>appsecret</key>
			<string>beb50cd3_623</string>
			<key>connectToTestService</key>
			<true/>
		</dict>
		<key>picture</key>
		<string></string>
		<key>detailtitle</key>
		<string></string>
		<key>sel_selector_str</key>
		<string>onActionChangeServer:</string>
		<key>selectionStyle</key>
		<true/>
		<key>cellheight</key>
		<integer>44</integer>
		<key>rightValue</key>
		<string></string>
		<key>CellStyleValue</key>
		<integer>1</integer>
		<key>showBottomLine</key>
		<true/>
		<key>showTopLine</key>
		<true/>
		<key>imageCornerRadius</key>
		<false/>
		<key>imageRight</key>
		<false/>
		<key>sectiontitle</key>
		<string>服务器切换(同时切换 HTTP/Service) 正常只需要切这个</string>
		<key>sectionbgcolor</key>
		<string>darkGray</string>
		<key>sectioncolor</key>
		<string>white</string>
		<key>sectionheight</key>
		<integer>22</integer>
		<key>sectionfont</key>
		<integer>17</integer>
		<key>rightComponts</key>
		<string></string>
		<key>sectionHeaderView</key>
		<string></string>
		<key>titlecolor</key>
		<string></string>
		<key>xibvalue</key>
		<string></string>
		<key>attributeTitle</key>
		<string></string>
		<key>textAlignment</key>
		<string></string>
		<key>tag</key>
		<integer>1</integer>
	</dict>
	<key>section0_2</key>
	<dict>
		<key>title</key>
		<string>设置 service AP 节点</string>
		<key>cellclass</key>
		<string>HBBaseTableViewCell</string>
		<key>detailfontsize</key>
		<integer>18</integer>
		<key>dictionary</key>
		<dict>
			<key>appId</key>
			<string>1170901840</string>
			<key>udbServiceId</key>
			<integer>1170901840</integer>
			<key>appsecret</key>
			<string>beb50cd3_623</string>
			<key>connectToTestService</key>
			<true/>
		</dict>
		<key>picture</key>
		<string></string>
		<key>detailtitle</key>
		<string></string>
		<key>sel_selector_str</key>
		<string>onActionChangeServicesAP:</string>
		<key>selectionStyle</key>
		<true/>
		<key>cellheight</key>
		<integer>44</integer>
		<key>rightValue</key>
		<string></string>
		<key>CellStyleValue</key>
		<integer>1</integer>
		<key>showBottomLine</key>
		<true/>
		<key>showTopLine</key>
		<true/>
		<key>imageCornerRadius</key>
		<false/>
		<key>imageRight</key>
		<false/>
		<key>sectiontitle</key>
		<string>服务器切换</string>
		<key>sectionbgcolor</key>
		<string>darkGray</string>
		<key>sectioncolor</key>
		<string>white</string>
		<key>sectionheight</key>
		<integer>22</integer>
		<key>sectionfont</key>
		<integer>17</integer>
		<key>rightComponts</key>
		<string></string>
		<key>sectionHeaderView</key>
		<string></string>
		<key>titlecolor</key>
		<string></string>
		<key>xibvalue</key>
		<string></string>
		<key>attributeTitle</key>
		<string></string>
		<key>textAlignment</key>
		<string></string>
		<key>tag</key>
		<integer>1</integer>
	</dict>
	<key>section0_3</key>
	<dict>
		<key>title</key>
		<string>设置 IM 环境</string>
		<key>cellclass</key>
		<string>HBBaseTableViewCell</string>
		<key>detailfontsize</key>
		<integer>18</integer>
		<key>dictionary</key>
		<dict/>
		<key>picture</key>
		<string></string>
		<key>detailtitle</key>
		<string></string>
		<key>sel_selector_str</key>
		<string>onActionChangeIMServer:</string>
		<key>selectionStyle</key>
		<true/>
		<key>cellheight</key>
		<integer>44</integer>
		<key>rightValue</key>
		<string></string>
		<key>CellStyleValue</key>
		<integer>1</integer>
		<key>showBottomLine</key>
		<true/>
		<key>showTopLine</key>
		<true/>
		<key>imageCornerRadius</key>
		<false/>
		<key>imageRight</key>
		<false/>
		<key>sectiontitle</key>
		<string>服务器切换</string>
		<key>sectionbgcolor</key>
		<string>darkGray</string>
		<key>sectioncolor</key>
		<string>white</string>
		<key>sectionheight</key>
		<integer>22</integer>
		<key>sectionfont</key>
		<integer>17</integer>
		<key>rightComponts</key>
		<string></string>
		<key>sectionHeaderView</key>
		<string></string>
		<key>titlecolor</key>
		<string></string>
		<key>xibvalue</key>
		<string></string>
		<key>attributeTitle</key>
		<string></string>
		<key>textAlignment</key>
		<string></string>
		<key>tag</key>
		<integer>1</integer>
	</dict>
	<key>section0_4</key>
	<dict>
		<key>title</key>
		<string>H5 预发布环境</string>
		<key>cellclass</key>
		<string>HBBaseTableViewCell</string>
		<key>detailfontsize</key>
		<integer>18</integer>
		<key>dictionary</key>
		<dict/>
		<key>picture</key>
		<string></string>
		<key>detailtitle</key>
		<string></string>
		<key>sel_selector_str</key>
		<string>onActionChangeH5Server:</string>
		<key>selectionStyle</key>
		<true/>
		<key>cellheight</key>
		<integer>44</integer>
		<key>rightValue</key>
		<string></string>
		<key>CellStyleValue</key>
		<integer>1</integer>
		<key>showBottomLine</key>
		<true/>
		<key>showTopLine</key>
		<true/>
		<key>imageCornerRadius</key>
		<false/>
		<key>imageRight</key>
		<false/>
		<key>sectiontitle</key>
		<string>服务器切换</string>
		<key>sectionbgcolor</key>
		<string>darkGray</string>
		<key>sectioncolor</key>
		<string>white</string>
		<key>sectionheight</key>
		<integer>22</integer>
		<key>sectionfont</key>
		<integer>17</integer>
		<key>rightComponts</key>
		<string></string>
		<key>sectionHeaderView</key>
		<string></string>
		<key>titlecolor</key>
		<string></string>
		<key>xibvalue</key>
		<string></string>
		<key>attributeTitle</key>
		<string></string>
		<key>textAlignment</key>
		<string></string>
		<key>tag</key>
		<integer>1</integer>
	</dict>
	<key>section0_5</key>
	<dict>
		<key>title</key>
		<string>UID</string>
		<key>cellclass</key>
		<string>HBBaseTableViewCell</string>
		<key>detailfontsize</key>
		<integer>18</integer>
		<key>dictionary</key>
		<dict/>
		<key>picture</key>
		<string></string>
		<key>detailtitle</key>
		<string></string>
		<key>sel_selector_str</key>
		<string>onActionCopyUid:</string>
		<key>selectionStyle</key>
		<true/>
		<key>cellheight</key>
		<integer>44</integer>
		<key>rightValue</key>
		<string></string>
		<key>CellStyleValue</key>
		<integer>1</integer>
		<key>showBottomLine</key>
		<true/>
		<key>showTopLine</key>
		<true/>
		<key>imageCornerRadius</key>
		<false/>
		<key>imageRight</key>
		<false/>
		<key>sectiontitle</key>
		<string>服务器切换</string>
		<key>sectionbgcolor</key>
		<string>darkGray</string>
		<key>sectioncolor</key>
		<string>white</string>
		<key>sectionheight</key>
		<integer>22</integer>
		<key>sectionfont</key>
		<integer>17</integer>
		<key>rightComponts</key>
		<string></string>
		<key>sectionHeaderView</key>
		<string></string>
		<key>titlecolor</key>
		<string></string>
		<key>xibvalue</key>
		<string></string>
		<key>attributeTitle</key>
		<string></string>
		<key>textAlignment</key>
		<string></string>
		<key>tag</key>
		<integer>1</integer>
	</dict>
	<key>section1_0</key>
	<dict>
		<key>title</key>
		<string>海度生产环境服务器</string>
		<key>detailtitle</key>
		<string></string>
		<key>cellclass</key>
		<string>HBBaseTableViewCell</string>
		<key>selectionStyle</key>
		<true/>
		<key>cellheight</key>
		<integer>50</integer>
		<key>dictionary</key>
		<dict>
			<key>connectToHiidoTestService</key>
			<false/>
			<key>hiidoService</key>
			<string></string>
		</dict>
		<key>CellStyleValue</key>
		<integer>1</integer>
		<key>sel_selector_str</key>
		<string>onActionChangeHiidoServer:</string>
		<key>sectionheight</key>
		<integer>30</integer>
		<key>sectioncolor</key>
		<string>white</string>
		<key>sectiontitle</key>
		<string>HIIDO测试服务器-必须接入测试服务 http://datatest.hiido.com/c.gif (优选)或修改http://ylog.hiido.com的host为14.152.33.234(备选)方可进行以下测试。</string>
		<key>sectionbgcolor</key>
		<string>darkGray</string>
	</dict>
	<key>section1_1</key>
	<dict>
		<key>title</key>
		<string>海度测试服务器datatest.hiido.com</string>
		<key>detailtitle</key>
		<string></string>
		<key>cellclass</key>
		<string>HBBaseTableViewCell</string>
		<key>selectionStyle</key>
		<true/>
		<key>cellheight</key>
		<integer>50</integer>
		<key>CellStyleValue</key>
		<integer>1</integer>
		<key>sel_selector_str</key>
		<string>onActionChangeHiidoServer:</string>
		<key>dictionary</key>
		<dict>
			<key>connectToHiidoTestService</key>
			<true/>
			<key>hiidoService</key>
			<string></string>
		</dict>
		<key>sectionheight</key>
		<integer>22</integer>
		<key>sectioncolor</key>
		<string>white</string>
		<key>sectiontitle</key>
		<string>HIIDO测试服务器-必须接入测试服务 http://datatest.hiido.com/c.gif (优选)或修改http://ylog.hiido.com的host为14.152.33.234(备选)方可进行以下测试。</string>
		<key>sectionbgcolor</key>
		<string>darkGray</string>
	</dict>
	<key>section2_0</key>
	<dict>
		<key>title</key>
		<string>配置中心生产环境服务器</string>
		<key>detailtitle</key>
		<string></string>
		<key>cellclass</key>
		<string>HBBaseTableViewCell</string>
		<key>selectionStyle</key>
		<true/>
		<key>cellheight</key>
		<integer>50</integer>
		<key>dictionary</key>
		<dict>
			<key>connectToConfigureTestService</key>
			<false/>
		</dict>
		<key>CellStyleValue</key>
		<integer>1</integer>
		<key>sel_selector_str</key>
		<string>onActionChangeConfigureCenter:</string>
		<key>sectionheight</key>
		<integer>30</integer>
		<key>sectioncolor</key>
		<string>white</string>
		<key>sectiontitle</key>
		<string>配置中心</string>
		<key>sectionbgcolor</key>
		<string>darkGray</string>
	</dict>
	<key>section2_1</key>
	<dict>
		<key>title</key>
		<string>配置中心测试服务器</string>
		<key>detailtitle</key>
		<string></string>
		<key>cellclass</key>
		<string>HBBaseTableViewCell</string>
		<key>selectionStyle</key>
		<true/>
		<key>cellheight</key>
		<integer>50</integer>
		<key>CellStyleValue</key>
		<integer>1</integer>
		<key>sel_selector_str</key>
		<string>onActionChangeConfigureCenter:</string>
		<key>dictionary</key>
		<dict>
			<key>connectToConfigureTestService</key>
			<true/>
		</dict>
		<key>sectionheight</key>
		<integer>22</integer>
		<key>sectioncolor</key>
		<string>white</string>
		<key>sectiontitle</key>
		<string>配置中心</string>
		<key>sectionbgcolor</key>
		<string>darkGray</string>
	</dict>
	<key>section3_0</key>
	<dict>
		<key>title</key>
		<string>礼物后台正式服务器</string>
		<key>detailtitle</key>
		<string></string>
		<key>cellclass</key>
		<string>HBBaseTableViewCell</string>
		<key>selectionStyle</key>
		<true/>
		<key>cellheight</key>
		<integer>50</integer>
		<key>CellStyleValue</key>
		<integer>1</integer>
		<key>sel_selector_str</key>
		<string>onActionChangeTurnover:</string>
		<key>dictionary</key>
		<dict>
			<key>connectToConfigureTestService</key>
			<false/>
		</dict>
		<key>sectionheight</key>
		<integer>22</integer>
		<key>sectioncolor</key>
		<string>white</string>
		<key>sectiontitle</key>
		<string>礼物后台</string>
		<key>sectionbgcolor</key>
		<string>darkGray</string>
	</dict>
	<key>section3_1</key>
	<dict>
		<key>title</key>
		<string>礼物后台测试服务器</string>
		<key>detailtitle</key>
		<string></string>
		<key>cellclass</key>
		<string>HBBaseTableViewCell</string>
		<key>selectionStyle</key>
		<true/>
		<key>cellheight</key>
		<integer>50</integer>
		<key>CellStyleValue</key>
		<integer>1</integer>
		<key>sel_selector_str</key>
		<string>onActionChangeTurnover:</string>
		<key>dictionary</key>
		<dict>
			<key>connectToConfigureTestService</key>
			<true/>
		</dict>
		<key>sectionheight</key>
		<integer>22</integer>
		<key>sectioncolor</key>
		<string>white</string>
		<key>sectiontitle</key>
		<string>礼物后台</string>
		<key>sectionbgcolor</key>
		<string>darkGray</string>
	</dict>
	<key>section3_2</key>
	<dict>
		<key>title</key>
		<string>充值后台正式服务器</string>
		<key>detailtitle</key>
		<string></string>
		<key>cellclass</key>
		<string>HBBaseTableViewCell</string>
		<key>selectionStyle</key>
		<true/>
		<key>cellheight</key>
		<integer>50</integer>
		<key>CellStyleValue</key>
		<integer>1</integer>
		<key>sel_selector_str</key>
		<string>onActionChangeRecharge:</string>
		<key>dictionary</key>
		<dict>
			<key>connectToConfigureTestService</key>
			<false/>
		</dict>
		<key>sectionheight</key>
		<integer>22</integer>
		<key>sectioncolor</key>
		<string>white</string>
		<key>sectiontitle</key>
		<string>充值后台</string>
		<key>sectionbgcolor</key>
		<string>darkGray</string>
	</dict>
	<key>section3_3</key>
	<dict>
		<key>title</key>
		<string>充值后台测试服务器</string>
		<key>detailtitle</key>
		<string></string>
		<key>cellclass</key>
		<string>HBBaseTableViewCell</string>
		<key>selectionStyle</key>
		<true/>
		<key>cellheight</key>
		<integer>50</integer>
		<key>CellStyleValue</key>
		<integer>1</integer>
		<key>sel_selector_str</key>
		<string>onActionChangeRecharge:</string>
		<key>dictionary</key>
		<dict>
			<key>connectToConfigureTestService</key>
			<true/>
		</dict>
		<key>sectionheight</key>
		<integer>22</integer>
		<key>sectioncolor</key>
		<string>white</string>
		<key>sectiontitle</key>
		<string>充值后台</string>
		<key>sectionbgcolor</key>
		<string>darkGray</string>
	</dict>
	<key>section4_0</key>
	<dict>
		<key>title</key>
		<string>CPU 内存浮窗显示</string>
		<key>detailtitle</key>
		<string></string>
		<key>cellclass</key>
		<string>HBBaseTableViewCell</string>
		<key>selectionStyle</key>
		<true/>
		<key>cellheight</key>
		<integer>50</integer>
		<key>CellStyleValue</key>
		<integer>1</integer>
		<key>sel_selector_str</key>
		<string>onActionChangePerformWindow:</string>
		<key>sectionheight</key>
		<integer>22</integer>
		<key>sectioncolor</key>
		<string>white</string>
		<key>sectiontitle</key>
		<string>性能</string>
		<key>sectionbgcolor</key>
		<string>darkGray</string>
	</dict>
	<key>section4_1</key>
	<dict>
		<key>title</key>
		<string>选择录屏插件</string>
		<key>detailtitle</key>
		<string></string>
		<key>cellclass</key>
		<string>HBBaseTableViewCell</string>
		<key>selectionStyle</key>
		<true/>
		<key>cellheight</key>
		<integer>50</integer>
		<key>CellStyleValue</key>
		<integer>1</integer>
		<key>sel_selector_str</key>
		<string>onActionChangeLivePlugins</string>
		<key>sectionheight</key>
		<integer>22</integer>
		<key>sectioncolor</key>
		<string>white</string>
		<key>array</key>
		<array>
			<string></string>
		</array>
		<key>sectiontitle</key>
		<string>其他,重启清除</string>
		<key>sectionbgcolor</key>
		<string>darkGray</string>
	</dict>
	<key>section4_2</key>
	<dict>
		<key>title</key>
		<string>Https 请求忽略证书验证</string>
		<key>detailtitle</key>
		<string></string>
		<key>cellclass</key>
		<string>HBBaseTableViewCell</string>
		<key>selectionStyle</key>
		<true/>
		<key>cellheight</key>
		<integer>50</integer>
		<key>CellStyleValue</key>
		<integer>1</integer>
		<key>sel_selector_str</key>
		<string>onActionIgnoreHttpsCeri</string>
		<key>sectionheight</key>
		<integer>22</integer>
		<key>sectioncolor</key>
		<string>white</string>
		<key>array</key>
		<array>
			<string></string>
		</array>
		<key>sectiontitle</key>
		<string>其他,重启清除</string>
		<key>sectionbgcolor</key>
		<string>darkGray</string>
	</dict>
	<key>section4_3</key>
	<dict>
		<key>title</key>
		<string>显示首页http请求时间</string>
		<key>detailtitle</key>
		<string></string>
		<key>cellclass</key>
		<string>HBBaseTableViewCell</string>
		<key>selectionStyle</key>
		<true/>
		<key>cellheight</key>
		<integer>50</integer>
		<key>CellStyleValue</key>
		<integer>1</integer>
		<key>sel_selector_str</key>
		<string>onActionShowHomeHttpInfo</string>
		<key>sectionheight</key>
		<integer>22</integer>
		<key>sectioncolor</key>
		<string>white</string>
		<key>sectiontitle</key>
		<string>Others</string>
		<key>sectionbgcolor</key>
		<string>darkGray</string>
	</dict>
	<key>section4_4</key>
	<dict>
		<key>title</key>
		<string>显示超过1s http请求时间详细(iOS 10+)</string>
		<key>detailtitle</key>
		<string></string>
		<key>cellclass</key>
		<string>HBBaseTableViewCell</string>
		<key>selectionStyle</key>
		<true/>
		<key>cellheight</key>
		<integer>50</integer>
		<key>CellStyleValue</key>
		<integer>1</integer>
		<key>sel_selector_str</key>
		<string>onActionShowHttpInfo</string>
		<key>sectionheight</key>
		<integer>22</integer>
		<key>sectioncolor</key>
		<string>white</string>
		<key>sectiontitle</key>
		<string>Others</string>
		<key>sectionbgcolor</key>
		<string>darkGray</string>
	</dict>
	<key>section4_5</key>
	<dict>
		<key>title</key>
		<string>直播间模板切换</string>
		<key>detailtitle</key>
		<string></string>
		<key>cellclass</key>
		<string>HBBaseTableViewCell</string>
		<key>selectionStyle</key>
		<true/>
		<key>cellheight</key>
		<integer>50</integer>
		<key>CellStyleValue</key>
		<integer>1</integer>
		<key>sel_selector_str</key>
		<string>onActionSwitchLivingRoomTemplate</string>
		<key>sectionheight</key>
		<integer>22</integer>
		<key>sectioncolor</key>
		<string>white</string>
		<key>sectiontitle</key>
		<string>Others</string>
		<key>sectionbgcolor</key>
		<string>darkGray</string>
	</dict>
	<key>section4_6</key>
	<dict>
		<key>title</key>
		<string>直播间控件可滑动隐藏</string>
		<key>detailtitle</key>
		<string></string>
		<key>cellclass</key>
		<string>HBBaseTableViewCell</string>
		<key>selectionStyle</key>
		<true/>
		<key>cellheight</key>
		<integer>50</integer>
		<key>CellStyleValue</key>
		<integer>1</integer>
		<key>sel_selector_str</key>
		<string>onActionUpdateUserDefaultBoolValue:</string>
		<key>sectionheight</key>
		<integer>22</integer>
		<key>dictionary</key>
		<dict>
			<key>key</key>
			<string>hamo.livingroom.floating.scrollable</string>
		</dict>
		<key>sectioncolor</key>
		<string>white</string>
		<key>sectiontitle</key>
		<string>Others</string>
		<key>sectionbgcolor</key>
		<string>darkGray</string>
	</dict>
	<key>section4_7</key>
	<dict>
		<key>title</key>
		<string>清除国家信息(重启生效)</string>
		<key>detailtitle</key>
		<string></string>
		<key>cellclass</key>
		<string>HBBaseTableViewCell</string>
		<key>selectionStyle</key>
		<true/>
		<key>cellheight</key>
		<integer>50</integer>
		<key>CellStyleValue</key>
		<integer>1</integer>
		<key>sel_selector_str</key>
		<string>onRemoveUserDefaultItems:</string>
		<key>sectionheight</key>
		<integer>22</integer>
		<key>dictionary</key>
		<dict>
			<key>restart_confirm</key>
			<string>清除国家信息并退出</string>
			<key>keys</key>
			<array>
				<string>Hamo.UserLocale</string>
				<string>AppleLocale</string>
			</array>
		</dict>
		<key>sectioncolor</key>
		<string>white</string>
		<key>sectiontitle</key>
		<string>Others</string>
		<key>sectionbgcolor</key>
		<string>darkGray</string>
	</dict>
	<key>section4_8</key>
	<dict>
		<key>title</key>
		<string>切换语言英文 (重启生效)</string>
		<key>detailtitle</key>
		<string></string>
		<key>cellclass</key>
		<string>HBBaseTableViewCell</string>
		<key>selectionStyle</key>
		<true/>
		<key>cellheight</key>
		<integer>50</integer>
		<key>CellStyleValue</key>
		<integer>1</integer>
		<key>sel_selector_str</key>
		<string>onUpdateAppleLanguage:</string>
		<key>sectionheight</key>
		<integer>22</integer>
		<key>dictionary</key>
		<dict>
			<key>restart_confirm</key>
			<string>切换为英文环境(将强制退出)</string>
			<key>UserDefaults</key>
			<dict>
				<key>Hamo.UserLanguages</key>
				<true/>
				<key>AppleLanguages</key>
				<string>en</string>
			</dict>
		</dict>
		<key>sectioncolor</key>
		<string>white</string>
		<key>sectiontitle</key>
		<string>Others</string>
		<key>sectionbgcolor</key>
		<string>darkGray</string>
	</dict>
	<key>section4_9</key>
	<dict>
		<key>title</key>
		<string>切换语言阿拉伯 (重启生效)</string>
		<key>detailtitle</key>
		<string></string>
		<key>cellclass</key>
		<string>HBBaseTableViewCell</string>
		<key>selectionStyle</key>
		<true/>
		<key>cellheight</key>
		<integer>50</integer>
		<key>CellStyleValue</key>
		<integer>1</integer>
		<key>sel_selector_str</key>
		<string>onUpdateAppleLanguage:</string>
		<key>sectionheight</key>
		<integer>22</integer>
		<key>dictionary</key>
		<dict>
			<key>restart_confirm</key>
			<string>切换为阿拉伯环境(将强制退出)</string>
			<key>UserDefaults</key>
			<dict>
				<key>AppleLanguages</key>
				<string>ar</string>
				<key>Hamo.UserLanguages</key>
				<true/>
			</dict>
		</dict>
		<key>sectioncolor</key>
		<string>white</string>
		<key>sectiontitle</key>
		<string>Others</string>
		<key>sectionbgcolor</key>
		<string>darkGray</string>
	</dict>
	<key>section4_10</key>
	<dict>
		<key>title</key>
		<string>清除语言设置(重启生效)</string>
		<key>detailtitle</key>
		<string></string>
		<key>cellclass</key>
		<string>HBBaseTableViewCell</string>
		<key>selectionStyle</key>
		<true/>
		<key>cellheight</key>
		<integer>50</integer>
		<key>CellStyleValue</key>
		<integer>1</integer>
		<key>sel_selector_str</key>
		<string>onRemoveUserDefaultItems:</string>
		<key>sectionheight</key>
		<integer>22</integer>
		<key>dictionary</key>
		<dict>
			<key>keys</key>
			<array>
				<string>Hamo.UserLanguages</string>
				<string>AppleLanguages</string>
			</array>
			<key>restart_confirm</key>
			<string>清除语言信息并退出</string>
		</dict>
		<key>sectioncolor</key>
		<string>white</string>
		<key>sectiontitle</key>
		<string>Others</string>
		<key>sectionbgcolor</key>
		<string>darkGray</string>
	</dict>
	<key>section5_0</key>
	<dict>
		<key>title</key>
		<string>打开 WebView</string>
		<key>detailtitle</key>
		<string></string>
		<key>cellclass</key>
		<string>HBBaseTableViewCell</string>
		<key>selectionStyle</key>
		<true/>
		<key>cellheight</key>
		<integer>50</integer>
		<key>CellStyleValue</key>
		<integer>1</integer>
		<key>sel_selector_str</key>
		<string>onActionOpenWebView</string>
		<key>sectionheight</key>
		<integer>22</integer>
		<key>sectioncolor</key>
		<string>white</string>
		<key>sectiontitle</key>
		<string>webApi</string>
		<key>sectionbgcolor</key>
		<string>darkGray</string>
	</dict>
	<key>section5_1</key>
	<dict>
		<key>title</key>
		<string>客服Api测试</string>
		<key>detailtitle</key>
		<string></string>
		<key>cellclass</key>
		<string>HBBaseTableViewCell</string>
		<key>selectionStyle</key>
		<true/>
		<key>cellheight</key>
		<integer>50</integer>
		<key>CellStyleValue</key>
		<integer>1</integer>
		<key>sel_selector_str</key>
		<string>onActionOpenWebView:</string>
		<key>sectionheight</key>
		<integer>22</integer>
		<key>sectioncolor</key>
		<string>white</string>
		<key>sectiontitle</key>
		<string>webApi</string>
		<key>sectionbgcolor</key>
		<string>darkGray</string>
		<key>dictionary</key>
		<dict>
			<key>url</key>
			<string>http://kfapp.yy.com/onlinekf/page/yymobile_api_v6.html</string>
			<key>hiidoService</key>
			<string></string>
		</dict>
	</dict>
	<key>section5_2</key>
	<dict>
		<key>title</key>
		<string>客服</string>
		<key>detailtitle</key>
		<string></string>
		<key>cellclass</key>
		<string>HBBaseTableViewCell</string>
		<key>selectionStyle</key>
		<true/>
		<key>cellheight</key>
		<integer>50</integer>
		<key>CellStyleValue</key>
		<integer>1</integer>
		<key>sel_selector_str</key>
		<string>onActionOpenWebView:</string>
		<key>sectionheight</key>
		<integer>22</integer>
		<key>sectioncolor</key>
		<string>white</string>
		<key>sectiontitle</key>
		<string>webApi</string>
		<key>sectionbgcolor</key>
		<string>darkGray</string>
		<key>dictionary</key>
		<dict>
			<key>url</key>
			<string>http://kf.yy.com/app/im.html?ft=app&amp;appid=302&amp;&amp;client=ios&amp;uid=&amp;ticket=</string>
			<key>hiidoService</key>
			<string></string>
		</dict>
	</dict>
	<key>section6_0</key>
	<dict>
		<key>title</key>
		<string>直播间翻译服务</string>
		<key>detailtitle</key>
		<string></string>
		<key>cellclass</key>
		<string>HBBaseTableViewCell</string>
		<key>selectionStyle</key>
		<true/>
		<key>cellheight</key>
		<integer>50</integer>
		<key>CellStyleValue</key>
		<integer>1</integer>
		<key>sel_selector_str</key>
		<string>onActionChangeTranslateServer:</string>
		<key>sectionheight</key>
		<integer>22</integer>
		<key>sectioncolor</key>
		<string>white</string>
		<key>sectiontitle</key>
		<string>Others</string>
		<key>sectionbgcolor</key>
		<string>darkGray</string>
		<key>array</key>
		<array>
			<string>google</string>
			<string>baidu</string>
			<string></string>
		</array>
	</dict>
	<key>section6_1</key>
	<dict>
		<key>title</key>
		<string>首页分页长度</string>
		<key>detailtitle</key>
		<string></string>
		<key>cellclass</key>
		<string>HBBaseTableViewCell</string>
		<key>selectionStyle</key>
		<true/>
		<key>cellheight</key>
		<integer>50</integer>
		<key>CellStyleValue</key>
		<integer>1</integer>
		<key>sel_selector_str</key>
		<string>onActionChangePageSize:</string>
		<key>sectionheight</key>
		<integer>22</integer>
		<key>sectioncolor</key>
		<string>white</string>
		<key>sectiontitle</key>
		<string>Others</string>
		<key>sectionbgcolor</key>
		<string>darkGray</string>
	</dict>
	<key>title</key>
	<string>实验室</string>
	<key>backgroundcolor</key>
	<string>white</string>
	<key>section5_3</key>
	<dict>
		<key>title</key>
		<string>打开 横屏WebView</string>
		<key>detailtitle</key>
		<string></string>
		<key>cellclass</key>
		<string>HBBaseTableViewCell</string>
		<key>selectionStyle</key>
		<true/>
		<key>cellheight</key>
		<integer>50</integer>
		<key>CellStyleValue</key>
		<integer>1</integer>
		<key>sel_selector_str</key>
		<string>onActionOpenLandscapeWebView</string>
		<key>sectionheight</key>
		<integer>22</integer>
		<key>sectioncolor</key>
		<string>white</string>
		<key>sectiontitle</key>
		<string>webApi</string>
		<key>sectionbgcolor</key>
		<string>darkGray</string>
	</dict>
</dict>
</plist>
